{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.postmarkapp.com/"
        }
    ],
    "info": {
        "description": "Postmark makes sending and receiving email\nincredibly easy.\n",
        "title": "Postmark",
        "version": "1.0.0",
        "x-apisguru-categories": [
            "email"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_879295889185157120_ZYlwxzeY_400x400.jpg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://postmarkapp.com/swagger/server.yml",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "postmarkapp.com",
        "x-serviceName": "server"
    },
    "paths": {
        "/bounces": {
            "get": {
                "operationId": "getBounces",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Number of bounces to return per request. Max 500.",
                        "in": "query",
                        "name": "count",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "maximum": 500
                        }
                    },
                    {
                        "description": "Number of bounces to skip.",
                        "in": "query",
                        "name": "offset",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Filter by type of bounce",
                        "in": "query",
                        "name": "type",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "HardBounce",
                                "Transient",
                                "Unsubscribe",
                                "Subscribe",
                                "AutoResponder",
                                "AddressChange",
                                "DnsError",
                                "SpamNotification",
                                "OpenRelayTest",
                                "Unknown",
                                "SoftBounce",
                                "VirusNotification",
                                "MailFrontier Matador.",
                                "BadEmailAddress",
                                "SpamComplaint",
                                "ManuallyDeactivated",
                                "Unconfirmed",
                                "Blocked",
                                "SMTPApiError",
                                "InboundError",
                                "DMARCPolicy",
                                "TemplateRenderingFailed"
                            ]
                        }
                    },
                    {
                        "description": "Filter by emails that were deactivated by Postmark due to the bounce. Set to true or false. If this isn't specified it will return both active and inactive.",
                        "in": "query",
                        "name": "inactive",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Filter by email address",
                        "in": "query",
                        "name": "emailFilter",
                        "schema": {
                            "type": "string",
                            "format": "email"
                        }
                    },
                    {
                        "description": "Filter by messageID",
                        "in": "query",
                        "name": "messageID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter by tag",
                        "in": "query",
                        "name": "tag",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter messages up to the date specified. e.g. `2014-02-01`",
                        "in": "query",
                        "name": "todate",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "Filter messages starting from the date specified. e.g. `2014-02-01`",
                        "in": "query",
                        "name": "fromdate",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "Bounces": {
                                            "items": {
                                                "properties": {
                                                    "BouncedAt": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "CanActivate": {
                                                        "type": "boolean"
                                                    },
                                                    "Content": {
                                                        "type": "string"
                                                    },
                                                    "Description": {
                                                        "type": "string"
                                                    },
                                                    "Details": {
                                                        "type": "string"
                                                    },
                                                    "DumpAvailable": {
                                                        "type": "boolean"
                                                    },
                                                    "Email": {
                                                        "format": "email",
                                                        "type": "string"
                                                    },
                                                    "ID": {
                                                        "type": "string"
                                                    },
                                                    "Inactive": {
                                                        "type": "boolean"
                                                    },
                                                    "MessageID": {
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "Subject": {
                                                        "type": "string"
                                                    },
                                                    "Tag": {
                                                        "type": "string"
                                                    },
                                                    "Type": {
                                                        "type": "string"
                                                    },
                                                    "TypeCode": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "TotalCount": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Get bounces",
                "tags": [
                    "Bounces API"
                ]
            }
        },
        "/bounces/tags": {
            "get": {
                "operationId": "getBouncedTags",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Get bounced tags",
                "tags": [
                    "Bounces API"
                ]
            }
        },
        "/bounces/{bounceid}": {
            "get": {
                "operationId": "getSingleBounce",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the bounce to retrieve.",
                        "in": "path",
                        "name": "bounceid",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BouncedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "CanActivate": {
                                            "type": "boolean"
                                        },
                                        "Content": {
                                            "type": "string"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "Details": {
                                            "type": "string"
                                        },
                                        "DumpAvailable": {
                                            "type": "boolean"
                                        },
                                        "Email": {
                                            "format": "email",
                                            "type": "string"
                                        },
                                        "ID": {
                                            "type": "string"
                                        },
                                        "Inactive": {
                                            "type": "boolean"
                                        },
                                        "MessageID": {
                                            "type": "string"
                                        },
                                        "Name": {
                                            "type": "string"
                                        },
                                        "Subject": {
                                            "type": "string"
                                        },
                                        "Tag": {
                                            "type": "string"
                                        },
                                        "Type": {
                                            "type": "string"
                                        },
                                        "TypeCode": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Get a single bounce",
                "tags": [
                    "Bounces API"
                ]
            }
        },
        "/bounces/{bounceid}/activate": {
            "put": {
                "operationId": "activateBounce",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the Bounce to activate.",
                        "in": "path",
                        "name": "bounceid",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Bounce": {
                                            "properties": {
                                                "BouncedAt": {
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "CanActivate": {
                                                    "type": "boolean"
                                                },
                                                "Content": {
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "type": "string"
                                                },
                                                "Details": {
                                                    "type": "string"
                                                },
                                                "DumpAvailable": {
                                                    "type": "boolean"
                                                },
                                                "Email": {
                                                    "format": "email",
                                                    "type": "string"
                                                },
                                                "ID": {
                                                    "type": "string"
                                                },
                                                "Inactive": {
                                                    "type": "boolean"
                                                },
                                                "MessageID": {
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "Subject": {
                                                    "type": "string"
                                                },
                                                "Tag": {
                                                    "type": "string"
                                                },
                                                "Type": {
                                                    "type": "string"
                                                },
                                                "TypeCode": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Activate a bounce",
                "tags": [
                    "Bounces API"
                ]
            }
        },
        "/bounces/{bounceid}/dump": {
            "get": {
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID for the bounce dump to retrieve.",
                        "in": "path",
                        "name": "bounceid",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Body": {
                                            "description": "Raw source of bounce. If no dump is available this will return an empty string.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Get bounce dump",
                "tags": [
                    "Bounces API"
                ]
            }
        },
        "/deliverystats": {
            "get": {
                "operationId": "getDeliveryStats",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "Bounces": {
                                            "items": {
                                                "properties": {
                                                    "Count": {
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "Type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "InactiveMails": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Get delivery stats",
                "tags": [
                    "Bounces API"
                ]
            }
        },
        "/email": {
            "post": {
                "operationId": "sendEmail",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The standard response when a postmark message is sent",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        },
                                        "MessageID": {
                                            "type": "string"
                                        },
                                        "SubmittedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "To": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Send a single email",
                "tags": [
                    "Sending API"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Attachments": {
                                        "items": {
                                            "description": "An attachment for an email message.",
                                            "properties": {
                                                "Content": {
                                                    "type": "string"
                                                },
                                                "ContentID": {
                                                    "type": "string"
                                                },
                                                "ContentType": {
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "Bcc": {
                                        "description": "Bcc recipient email address. Multiple addresses are comma seperated. Max 50.",
                                        "type": "string"
                                    },
                                    "Cc": {
                                        "description": "Recipient email address. Multiple addresses are comma seperated. Max 50.",
                                        "type": "string"
                                    },
                                    "From": {
                                        "description": "The sender email address. Must have a registered and confirmed Sender Signature.",
                                        "type": "string"
                                    },
                                    "Headers": {
                                        "items": {
                                            "description": "A single header for an email message.",
                                            "properties": {
                                                "Name": {
                                                    "description": "The header's name.",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The header's value.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "HtmlBody": {
                                        "description": "If no TextBody specified HTML email message",
                                        "type": "string"
                                    },
                                    "ReplyTo": {
                                        "description": "Reply To override email address. Defaults to the Reply To set in the sender signature.",
                                        "type": "string"
                                    },
                                    "Subject": {
                                        "description": "Email Subject",
                                        "type": "string"
                                    },
                                    "Tag": {
                                        "description": "Email tag that allows you to categorize outgoing emails and get detailed statistics.",
                                        "type": "string"
                                    },
                                    "TextBody": {
                                        "description": "If no HtmlBody specified Plain text email message",
                                        "type": "string"
                                    },
                                    "To": {
                                        "description": "Recipient email address. Multiple addresses are comma seperated. Max 50.",
                                        "type": "string"
                                    },
                                    "TrackLinks": {
                                        "description": "Replace links in content to enable \"click tracking\" stats. Default is 'null', which uses the server's LinkTracking setting'.",
                                        "enum": [
                                            "None",
                                            "HtmlAndText",
                                            "HtmlOnly",
                                            "TextOnly"
                                        ],
                                        "type": "string"
                                    },
                                    "TrackOpens": {
                                        "description": "Activate open tracking for this email.",
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/email/batch": {
            "post": {
                "operationId": "sendEmailBatch",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "The standard response when a postmark message is sent",
                                        "properties": {
                                            "ErrorCode": {
                                                "type": "integer"
                                            },
                                            "Message": {
                                                "type": "string"
                                            },
                                            "MessageID": {
                                                "type": "string"
                                            },
                                            "SubmittedAt": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "To": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Send a batch of emails",
                "tags": [
                    "Sending API"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "items": {
                                    "properties": {
                                        "Attachments": {
                                            "items": {
                                                "description": "An attachment for an email message.",
                                                "properties": {
                                                    "Content": {
                                                        "type": "string"
                                                    },
                                                    "ContentID": {
                                                        "type": "string"
                                                    },
                                                    "ContentType": {
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Bcc": {
                                            "description": "Bcc recipient email address. Multiple addresses are comma seperated. Max 50.",
                                            "type": "string"
                                        },
                                        "Cc": {
                                            "description": "Recipient email address. Multiple addresses are comma seperated. Max 50.",
                                            "type": "string"
                                        },
                                        "From": {
                                            "description": "The sender email address. Must have a registered and confirmed Sender Signature.",
                                            "type": "string"
                                        },
                                        "Headers": {
                                            "items": {
                                                "description": "A single header for an email message.",
                                                "properties": {
                                                    "Name": {
                                                        "description": "The header's name.",
                                                        "type": "string"
                                                    },
                                                    "Value": {
                                                        "description": "The header's value.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "HtmlBody": {
                                            "description": "If no TextBody specified HTML email message",
                                            "type": "string"
                                        },
                                        "ReplyTo": {
                                            "description": "Reply To override email address. Defaults to the Reply To set in the sender signature.",
                                            "type": "string"
                                        },
                                        "Subject": {
                                            "description": "Email Subject",
                                            "type": "string"
                                        },
                                        "Tag": {
                                            "description": "Email tag that allows you to categorize outgoing emails and get detailed statistics.",
                                            "type": "string"
                                        },
                                        "TextBody": {
                                            "description": "If no HtmlBody specified Plain text email message",
                                            "type": "string"
                                        },
                                        "To": {
                                            "description": "Recipient email address. Multiple addresses are comma seperated. Max 50.",
                                            "type": "string"
                                        },
                                        "TrackLinks": {
                                            "description": "Replace links in content to enable \"click tracking\" stats. Default is 'null', which uses the server's LinkTracking setting'.",
                                            "enum": [
                                                "None",
                                                "HtmlAndText",
                                                "HtmlOnly",
                                                "TextOnly"
                                            ],
                                            "type": "string"
                                        },
                                        "TrackOpens": {
                                            "description": "Activate open tracking for this email.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        }
                    }
                }
            }
        },
        "/email/batchWithTemplates": {
            "post": {
                "operationId": "sendEmailBatchWithTemplates",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "description": "The standard response when a postmark message is sent",
                                        "properties": {
                                            "ErrorCode": {
                                                "type": "integer"
                                            },
                                            "Message": {
                                                "type": "string"
                                            },
                                            "MessageID": {
                                                "type": "string"
                                            },
                                            "SubmittedAt": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "To": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Send a batch of email using templates.",
                "tags": [
                    "Sending API",
                    "Templates API"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Messages": {
                                        "items": {
                                            "properties": {
                                                "Attachments": {
                                                    "items": {
                                                        "description": "An attachment for an email message.",
                                                        "properties": {
                                                            "Content": {
                                                                "type": "string"
                                                            },
                                                            "ContentID": {
                                                                "type": "string"
                                                            },
                                                            "ContentType": {
                                                                "type": "string"
                                                            },
                                                            "Name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "Bcc": {
                                                    "format": "email",
                                                    "type": "string"
                                                },
                                                "Cc": {
                                                    "format": "email",
                                                    "type": "string"
                                                },
                                                "From": {
                                                    "format": "email",
                                                    "type": "string"
                                                },
                                                "Headers": {
                                                    "items": {
                                                        "description": "A single header for an email message.",
                                                        "properties": {
                                                            "Name": {
                                                                "description": "The header's name.",
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "The header's value.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "InlineCss": {
                                                    "default": true,
                                                    "type": "boolean"
                                                },
                                                "ReplyTo": {
                                                    "type": "string"
                                                },
                                                "Tag": {
                                                    "type": "string"
                                                },
                                                "TemplateAlias": {
                                                    "description": "Required if 'TemplateId' is not specified.",
                                                    "type": "string"
                                                },
                                                "TemplateId": {
                                                    "description": "Required if 'TemplateAlias' is not specified.",
                                                    "type": "integer"
                                                },
                                                "TemplateModel": {
                                                    "type": "object"
                                                },
                                                "To": {
                                                    "format": "email",
                                                    "type": "string"
                                                },
                                                "TrackLinks": {
                                                    "description": "Replace links in content to enable \"click tracking\" stats. Default is 'null', which uses the server's LinkTracking setting'.",
                                                    "enum": [
                                                        "None",
                                                        "HtmlAndText",
                                                        "HtmlOnly",
                                                        "TextOnly"
                                                    ],
                                                    "type": "string"
                                                },
                                                "TrackOpens": {
                                                    "description": "Activate open tracking for this email.",
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "TemplateId",
                                                "TemplateAlias",
                                                "TemplateModel",
                                                "To",
                                                "From"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/email/withTemplate": {
            "post": {
                "operationId": "sendEmailWithTemplate",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The standard response when a postmark message is sent",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        },
                                        "MessageID": {
                                            "type": "string"
                                        },
                                        "SubmittedAt": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "To": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Send an email using a Template",
                "tags": [
                    "Sending API",
                    "Templates API"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Attachments": {
                                        "items": {
                                            "description": "An attachment for an email message.",
                                            "properties": {
                                                "Content": {
                                                    "type": "string"
                                                },
                                                "ContentID": {
                                                    "type": "string"
                                                },
                                                "ContentType": {
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "Bcc": {
                                        "format": "email",
                                        "type": "string"
                                    },
                                    "Cc": {
                                        "format": "email",
                                        "type": "string"
                                    },
                                    "From": {
                                        "format": "email",
                                        "type": "string"
                                    },
                                    "Headers": {
                                        "items": {
                                            "description": "A single header for an email message.",
                                            "properties": {
                                                "Name": {
                                                    "description": "The header's name.",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The header's value.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "InlineCss": {
                                        "default": true,
                                        "type": "boolean"
                                    },
                                    "ReplyTo": {
                                        "type": "string"
                                    },
                                    "Tag": {
                                        "type": "string"
                                    },
                                    "TemplateAlias": {
                                        "description": "Required if 'TemplateId' is not specified.",
                                        "type": "string"
                                    },
                                    "TemplateId": {
                                        "description": "Required if 'TemplateAlias' is not specified.",
                                        "type": "integer"
                                    },
                                    "TemplateModel": {
                                        "type": "object"
                                    },
                                    "To": {
                                        "format": "email",
                                        "type": "string"
                                    },
                                    "TrackLinks": {
                                        "description": "Replace links in content to enable \"click tracking\" stats. Default is 'null', which uses the server's LinkTracking setting'.",
                                        "enum": [
                                            "None",
                                            "HtmlAndText",
                                            "HtmlOnly",
                                            "TextOnly"
                                        ],
                                        "type": "string"
                                    },
                                    "TrackOpens": {
                                        "description": "Activate open tracking for this email.",
                                        "type": "boolean"
                                    }
                                },
                                "required": [
                                    "TemplateId",
                                    "TemplateAlias",
                                    "TemplateModel",
                                    "To",
                                    "From"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/messages/inbound": {
            "get": {
                "operationId": "searchInboundMessages",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Number of messages to return per request. Max 500.",
                        "in": "query",
                        "name": "count",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Number of messages to skip",
                        "in": "query",
                        "name": "offset",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Filter by the user who was receiving the email",
                        "in": "query",
                        "name": "recipient",
                        "schema": {
                            "type": "string",
                            "format": "email"
                        }
                    },
                    {
                        "description": "Filter by the sender email address",
                        "in": "query",
                        "name": "fromemail",
                        "schema": {
                            "type": "string",
                            "format": "email"
                        }
                    },
                    {
                        "description": "Filter by email subject",
                        "in": "query",
                        "name": "subject",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter by mailboxhash",
                        "in": "query",
                        "name": "mailboxhash",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter by tag",
                        "in": "query",
                        "name": "tag",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter by status (`blocked`, `processed`, `queued`, `failed`, `scheduled`)",
                        "in": "query",
                        "name": "status",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "blocked",
                                "processed",
                                "queued",
                                "failed",
                                "scheduled"
                            ]
                        }
                    },
                    {
                        "description": "Filter messages up to the date specified. e.g. `2014-02-01`",
                        "in": "query",
                        "name": "todate",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "description": "Filter messages starting from the date specified. e.g. `2014-02-01`",
                        "in": "query",
                        "name": "fromdate",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "",
                                    "properties": {
                                        "InboundMessages": {
                                            "items": {
                                                "description": "",
                                                "properties": {
                                                    "Attachments": {
                                                        "items": {
                                                            "description": "An attachment for an email message.",
                                                            "properties": {
                                                                "Content": {
                                                                    "type": "string"
                                                                },
                                                                "ContentID": {
                                                                    "type": "string"
                                                                },
                                                                "ContentType": {
                                                                    "type": "string"
                                                                },
                                                                "Name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Cc": {
                                                        "type": "string"
                                                    },
                                                    "CcFull": {
                                                        "items": {
                                                            "description": "",
                                                            "properties": {
                                                                "Email": {
                                                                    "type": "string"
                                                                },
                                                                "Name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Date": {
                                                        "type": "string"
                                                    },
                                                    "From": {
                                                        "type": "string"
                                                    },
                                                    "FromFull": {
                                                        "description": "",
                                                        "properties": {
                                                            "Email": {
                                                                "type": "string"
                                                            },
                                                            "Name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "FromName": {
                                                        "type": "string"
                                                    },
                                                    "MailboxHash": {
                                                        "type": "string"
                                                    },
                                                    "MessageID": {
                                                        "type": "string"
                                                    },
                                                    "OriginalRecipient": {
                                                        "type": "string"
                                                    },
                                                    "ReplyTo": {
                                                        "type": "string"
                                                    },
                                                    "Status": {
                                                        "type": "string"
                                                    },
                                                    "Subject": {
                                                        "type": "string"
                                                    },
                                                    "Tag": {
                                                        "type": "string"
                                                    },
                                                    "To": {
                                                        "type": "string"
                                                    },
                                                    "ToFull": {
                                                        "items": {
                                                            "description": "",
                                                            "properties": {
                                                                "Email": {
                                                                    "type": "string"
                                                                },
                                                                "Name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "TotalCount": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Inbound message search",
                "tags": [
                    "Messages API"
                ]
            }
        },
        "/messages/inbound/{messageid}/bypass": {
            "put": {
                "operationId": "bypassRulesForInboundMessage",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the message which should bypass inbound rules.",
                        "in": "path",
                        "name": "messageid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Bypass rules for a blocked inbound message",
                "tags": [
                    "Messages API"
                ]
            }
        },
        "/messages/inbound/{messageid}/details": {
            "get": {
                "operationId": "getInboundMessageDetails",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the message for which to details will be retrieved.",
                        "in": "path",
                        "name": "messageid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Attachments": {
                                            "items": {
                                                "description": "An attachment for an email message.",
                                                "properties": {
                                                    "Content": {
                                                        "type": "string"
                                                    },
                                                    "ContentID": {
                                                        "type": "string"
                                                    },
                                                    "ContentType": {
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "BlockedReason": {
                                            "type": "string"
                                        },
                                        "Cc": {
                                            "type": "string"
                                        },
                                        "CcFull": {
                                            "items": {
                                                "description": "",
                                                "properties": {
                                                    "Email": {
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "Date": {
                                            "type": "string"
                                        },
                                        "From": {
                                            "type": "string"
                                        },
                                        "FromFull": {
                                            "description": "",
                                            "properties": {
                                                "Email": {
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "FromName": {
                                            "type": "string"
                                        },
                                        "Headers": {
                                            "items": {
                                                "description": "A single header for an email message.",
                                                "properties": {
                                                    "Name": {
                                                        "description": "The header's name.",
                                                        "type": "string"
                                                    },
                                                    "Value": {
                                                        "description": "The header's value.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "HtmlBody": {
                                            "type": "string"
                                        },
                                        "MailboxHash": {
                                            "type": "string"
                                        },
                                        "MessageID": {
                                            "type": "string"
                                        },
                                        "OriginalRecipient": {
                                            "type": "string"
                                        },
                                        "ReplyTo": {
                                            "type": "string"
                                        },
                                        "Status": {
                                            "type": "string"
                                        },
                                        "Subject": {
                                            "type": "string"
                                        },
                                        "Tag": {
                                            "type": "string"
                                        },
                                        "TextBody": {
                                            "type": "string"
                                        },
                                        "To": {
                                            "type": "string"
                                        },
                                        "ToFull": {
                                            "items": {
                                                "description": "",
                                                "properties": {
                                                    "Email": {
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Indicates an internal server error occurred."
                    }
                },
                "summary": "Inbound message details",
                "tags": [
                    "Messages API"
                ]
            }
        },
        "/messages/inbound/{messageid}/retry": {
            "put": {
                "operationId": "retryInboundMessageProcessing",
                "parameters": [
                    {
                        "description": "The token associated with the Server on which this request will operate.",
                        "in": "header",
                        "name": "X-Postmark-Server-Token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the inbound message on which we should retry processing.",
                        "in": "path",
                        "name": "messageid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
                                            "type": "integer"
                                        },
                                        "Message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Postmark API error.",
                                    "properties": {
                                        "ErrorCode": {
[...]
